* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#gradient-1 {
    background-color: white;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
    margin-bottom: 30px;
    width: 100%;
}

#gogocontainer-1 {
    max-width: 1100px;
    margin: auto;
}

.headerinside {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.headerleftbox {
    display: flex;
    height: fit-content;
    width: 100%;
    gap: 20px;
}

.headerleftboxtext {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
}

.headerleftbox-1 {
    width: 30%;
}

.headerleftbox-2 {
    width: 70%;
}

.headerleftboxtextbox {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerleftboximage {
    display: flex;
    justify-content: center;
}

.font-10 {
    font: 48px;
}

.headerleftboxtextparagraph {
    gap: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.headerleftboxtextparagraph i {
    margin-left: 15px;
}

.leftboxtextflex {
    display: flex;
    align-items: center;
    margin: 0px;
}

.headerrightbox {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 84.305;
    width: 30%;
    font-size: 12px;
}

.headerrightboxitem {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    font-size: 18px;
}

.headerrightboxitem img {
    width: 20px;
    height: 20px;
}

.headerahref {
    text-decoration: none;
    color: black;
}

.headerLeftboxtext {
    font-size: 18px;
}

/* GOGO MAIN */
.gogomain {
    margin-top: 30px;
    margin-bottom: 20px;
}

.gogomaincontainer {
    max-width: 1100px;
    display: flex;
    margin: auto;
    background-color: #fff;
}

.mainsection1 {
    background-image: linear-gradient(to right,
            rgba(247, 247, 247),
            rgba(255, 255, 255));
    padding-left: 40px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.mainsection1 a {
    text-decoration: none;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(120deg, #e08100);
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    padding: 8px 20px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 5px;
}

.mainsection1 h2 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 30px 0px 0px;
}

.mainsection1 a:hover {
    padding: 8px 25px;
}

.mainsection1 p {
    margin: 10px 0px 20px 0px;
    font-size: 13px;
    opacity: 0.4;
}

.mainsection2 {
    width: 50%;
    height: 385px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.mainsection2 img {
    width: 100%;
    height: 385px;
    transition: all 0.4s ease-out;
}

.mainsection2:hover img {
    transform: scale(1.1, 1.1);
}

.mainsection2:hover .mainsection2-hidden {
    visibility: visible;
}

.mainsection2-hidden {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: white;
    visibility: hidden;
    transition: all 0.4s ease-out;
}

.mainsection2-hidden p {
    font-weight: 600;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    background-color: rgb(232, 232, 232);
    padding: 5px 15px;
    border-radius: 17px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.arrow:hover {
    padding: 5px 25px;
    background-color: white;
}

.arrow svg {
    transition: all 0.3s ease-out;
}

.arrow:hover svg {
    transform: rotate(35deg);
}

.arrowsection2 {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.arrow p {
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.comment p {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.gogomaincontainerbottom {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
}

.bottomsection {
    width: 24%;
    gap: 20px;
}

.bottom-section-position {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bottom-section-overlay-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    border-radius: 10px;
    transition: all ease-out 0.3s;
    opacity: 0;
}

.bottom-section-overlay-1:hover {
    opacity: 1;
}

.bottomsection img {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    transition: all ease-out;
    transition-duration: 0.3s;
}

.bottom-section-position:hover img {
    transform: scale(1.1, 1.1);
}

.bottomsection p {
    font-weight: 600;
    font-size: 14px;
}

.bottomsection:hover img {
    opacity: 1;
}

.bottom-section-hidden p {
    color: white;
}

.main-content-bottom-flex {
    display: flex;
    margin-top: 5px;
}

.gogoStory {
    max-width: 1100px;
    margin: auto;
}

.storyTitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.storyTitle-2 {
    background-color: #00b0f4;
    color: white;
    border-radius: 5px;
    padding: 2px 2px;
    margin-left: 5px;
}

.story-section-1 {
    overflow: hidden;
    width: 15.5%;
    height: 258.5px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.story-section-1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all ease-out;
    transition-duration: 0.3s;
    position: absolute;
    top: 0;
    z-index: -1;
}

.story-section-1:hover img {
    transform: scale(1.1, 1.1);
}

.section-gogo-logo {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
}

.section-logo-eye {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 2;
    color: white;
    font-size: 13px;
}

.section-logo-eye img {
    border-color: white;
}

.story-section-1-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(156, 156, 156, 0), rgba(48, 48, 48, 0.798));
}

.story-content-container {
    font-size: 13px;
    z-index: 2;
    position: absolute;
    bottom: 45px;
    left: 10px;
    color: white;
    transition: all ease-out;
    transition-duration: 0.3s;
}

.story-content-container-hidden {
    height: fit-content !important;
    visibility: hidden;
}

.story-content-container-text {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    transition: all ease-out;
    transition-duration: 0.3s;
}

.story-section-1:hover .story-content-container-text {
    height: 100%;
}

.gogo-column {
    display: flex;
    max-width: 1100px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
}

.left-column-container {
    width: 68%;
    height: 100px;
}

.left-column-өнөөдөр {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: #407ce8;
}

.left-column-line {
    width: 30px;
    background-color: #efefef;
    border-radius: 10px;
    height: 7px;
    gap: 10px;
    width: 90px;
    transition: all;
    transition-duration: 1s;

}

.left-column-days-text {
    cursor: pointer;
    padding-left: 30px;
    font-size: 13px;
    width: fit-content;
    transition: all;
    transition-duration: 0.5s;
}

.left-column-өнөөдөр img {
    width: 30px;
}

.left-column-days {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.days {
    display: flex;
    justify-content: center;
    transition: all;
    transition-duration: 1s;
    color: #b7b6b6;
}

.right-column-container {
    background-color: #c40097;
    width: 38%;
}

.left-column-top-hover {
    display: flex;
    width: 100%;
}

.left-column-calendar {
    cursor: pointer;
    height: 30px;
    width: 35px;
    background-color: #efefef;
    color: #9a9696;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.5s;
}

.left-column-days-text:hover .left-column-line {
    transform: translateY(-5px);
    transition: all;
    transition-duration: 0.5s;
    background-color: #407ce8;
}

.left-column-days-text:hover .days {
    transform: translateY(-5px);
    transition: all;
    transition-duration: 0.5s;
    color: #407ce8;

}

.calendar {
    height: 30px;
    width: 30px;
}

.calendar:hover .left-column-calendar {
    background-color: #407ce8;
    color: white;
    transition: all;
    transition-duration: 0.5s;
}

.left-column-news {
    display: flex;
    margin-top: 30px;
    height: 175x;
}

.left-column-news-img {
    overflow: hidden;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    position: relative;
}

.left-column-news-img:hover img {
    filter: brightness(75%);
    transition: all;
    transition-duration: 0.4s;
}

.left-column-news-img img {
    border-radius: 10px;
    transition: all;
    transition-duration: 0.4s;
    width: 100%;
    height: 100%;
}

.left-column-news-img p {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: all;
    transition-duration: 0.4s;
}

.left-column-content {
    margin-left: 20px;
    width: 70%;
}

.left-column-news:hover .left-column-news-img img {
    transform: scale(1.1, 1.1);
    transition: all;
    transition-duration: 0.4s;
}
.left-column-news-img:hover p {
    opacity: 1;
}

.left-column-content h3 {
    display: flex;
    flex-wrap: wrap;
}